body {
  background-color: #757575;
}


#belowNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: left;

}

#insideQualify {

}

#insideMenu {

}

button {
      span {
        text-transform: none !important;
      }
}