body{
  background-color: #757575;
}

.menu  {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: center;
  div {
    align: left;
    button {
      display: flex;
    label {
    width: 100%}
    }
  }
}



//.menuButton {
//  flex: 1;
//}

//.menuText {
//  flex: 3;
//}
